* {
    box-sizing: border-box;
}
/*Remove padding and margin from ul*/
ul {
    margin: 0;
    padding: 0;
}
/*Style list*/

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #80dffc;
    font-size: 18px;
    transition: .2s;
    /*Make li unselectable*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Add ood/even colors to list*/
ul li:nth-child(odd){
    background: rgb(79, 187, 79);
}

ul li:hover {
    background: cyan;
} 
/*Add checkmark when clicked*/
ul li.checked::before{
    content: '';
    position: absolute;
    border-color: navy;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 10px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/*Style close btn*/

.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover{
    background-color: red;
    color: white;
}

/*Header style*/

.header {
    background-color: rgb(25, 19, 114);
    padding: 30px 40px;
    color: rgb(79, 187, 79);
    text-align: center;
}

/*Style input*/

input {
    margin: 0;
    border: none;
    border-radius: 6px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #0b1944;
    color: rgb(79, 187, 79);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;
}

.header::after{
    content: '';
    display: table;
    clear: both;
}

.addBtn:hover{
    background-color: black;
    color: yellow;
}